@use '../styles/mixins' as *;
@use '../styles/utils' as *;

.sectionTitle{
    font-weight: 600;
  font-size: 24px;
  padding-bottom: 8px;
  max-width: 100%;
  border-bottom: 1px solid var(--color-03);
  color: #161616;
  margin: 24px 24px 16px 24px;

}