@use "../styles/mixins" as *;
@use "../styles/utils" as *;

.cardBlock {
  margin-top: 30px;
  width: 100%;
}
.cardInfo {
  @include grid-centreCard;
  padding: 20px;

  @media (max-width: 1056px) {
    @include grid-tablet;
  }

 

  @media (max-width: 611px) {
    @include grid-mobile;
    padding:2px;

  }
 
}

.cardItem {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 100%;
  height: 168px;
  padding: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.188);
  border-radius: 15px;
  gap: 12px;
  @media (max-width: 1056px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    height: 150px;
    padding: 14px;
  }
  @media (max-width:611px) {
    @include grid-mobile;
     flex-direction: column;

     height: 258px;
  }

  img {
    @include center-img;
    width: 112px;
    height: 79%;
    flex-shrink: 0;

    @media (max-width: 1056px) {
      align-self: center;
      object-fit: cover;
      width: 90px;
      height: 79%;
    }

   @media (max-width:611px) {
     width: 130px;
     height: 51%;

  }
  }
}
.cardText {
  @include fluid-text(17, 15);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  flex-wrap: wrap;
  overflow: hidden;
  font-size: 18px;
  max-width: 100%;
  min-width: 0;
  padding: 15px 0;
  gap: 2px;

  @media (max-width: 1056px) {
    padding: 5px;
  }
  
  @media (max-width: 610px) {
  max-width: 95%;
    flex-wrap: nowrap;
  }

  h5 {
     @media (max-width: 610px) {
  max-width: 95%;
  overflow: hidden;
text-overflow: ellipsis;
    white-space: wrap;
  }
  }
  p {
    @include fluid-text(15, 14);
    overflow: hidden;
    font-weight: 400;
    color: var(--color-03);
  }
}
.cardCompany {
  @media (max-width: 1056px) {
  }
}
.cardAdress {
  margin-top: auto;
}

.cardName {
  display: flex;
  button {
    position: absolute;
  }
}

.cardUserName {
  @include fluid-text(18, 17);
  color: var(--color-accent);
  overflow: hidden;
  text-overflow: ellipsis;

 
}

.menuButton {
  @include reset-button;
  // position: absolute;
  height: 24;
  right: 20px;
  z-index: 10;
  top: 19px;
  margin-left: 5px;
  color: #282525;
  font-size: 20px;
  line-height: 1;
  padding: 4px;
  cursor: pointer;
  align-items: center;
  @media (max-width: 1056px) {
    top: 15px;
    right: 10px;
  }
  @media (max-width: 611px) {
    top: 148px;
    right: 5px;
  }
}
