@use "../styles/mixins" as *;
@use "../styles/utils" as *;

.cardBlock {
  margin-top: 30px;
  width: 100%;
}
.cardInfo {
  @include grid-centreCard;
  padding: 20px;




  @media (max-width: 1056px) {
    @include grid-tablet;
  }

  @media (max-width: 912px) {
    @include grid-tablet;
  }


  @media (max-width: 618px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 180px));
  }
  @media (max-width: 391px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 180px));
    gap: 12px;
    padding: 12px;
  }



}

.cardItem {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 100%;
  padding: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.37);
  border-radius: 15px;
  gap: 12px;
  @media (max-width: 1056px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 14px;
  }

  img {
    @include center-img;
    @include square(88px);

    flex-shrink: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.184);

    @media (max-width: 1056px) {
      @include square(120px);
      align-self: center;
      object-fit: cover;
      margin-bottom: 10px;
    }

    @media (max-width: 912px) {
      align-self: center;
      margin-bottom: 10px;
    }
  }
}
.cardText {
  @include fluid-text(16, 13);

  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
 // text-align: center;
  overflow: hidden;
  font-size: 20px;
  max-width: 100%;
  min-width: 0;
  flex: 1 1 auto;
  padding-right: 15px;

  gap: 2px;

    @media (max-width: 1056px) {
    align-items: flex-start;
    justify-content: center;
    
  }
/*
  @media (max-width: 519px) {
    flex: 1;
    min-width: 0;
  }
*/
  p {
    overflow: hidden;
    @include fluid-text(15, 13);
    font-weight: 400;
    color: var(--color-03);
    @media (max-width: 1056px) {
    }
  }
}

.cardUserName {
  @include fluid-text(20, 15);
  color: var(--color-accent);
  overflow: hidden;
  min-width: 0;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: wrap;

//word-break: break-all;
  @media (max-width: 420px) {
  }

  @media (max-width: 545px) {
    font-size: 15px;
  }
}

.menuButton {
  @include reset-button;
  position: absolute;
  height: 24;
  right: 17px;
  z-index: 10;
  top: 22px;
  margin-left: 5px;
  color: #282525;
  font-size: 20px;
  line-height: 1;
  padding: 4px;
  cursor: pointer;
  align-items: center;
  @media (max-width: 1056px) {
    top: 150px;
    right: 20px;
  }
  @media (max-width: 912px) {
    top: 150px;
    right: 20px;
  }
}
