@use 'variables' as *;
@use 'mixins' as *;
@use 'normalize' as *;
@use 'utils' as *;
@use 'media' as *;
@use '../ui/Header.module.scss' as *; 

body{
    @include fluid-text(18,16);
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.28;
    color: var(--color-01);
    background-color: var(--color-06);
}

a,
button,
input,
textarea,
svg *{
    transition-duration: var( --transition-duration);
}

a{
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4{
    font-weight: 400;
}

